# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Test, coverage
.pytest_cache/
.coverage*

# Package build artifacts
build/
dist/
*.egg-info/

# Editors and OS
.DS_Store
.idea/
.vscode/

# Environment files
.env
.env.*
